.flexbox {
    display: flex;
}


#notes-input {
    background-color: red;
    height: 350px;
    max-width: 950px;
    margin:auto;
    flex-direction: column;
    align-items: center;
}

#notes-input fieldset{
    background-color: blue;
    width: 90%;
}