@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Madurai:wght@300;400&family=Permanent+Marker&family=Ubuntu+Condensed&display=swap");
* {
  margin: 0;
}

body {
  background-color: #FFDD;
}

h1, #controlpanel label{
    color: whitesmoke;
}

h1,
h2,
h3,
legend {
  font-family: "Bebas Neue", cursive;
}

#controlpanel button:hover, #controlpanel button:active {
    background-color: #FFDD99 !important;
    
}

.note-title {
  font-family: "Permanent Marker", cursive;
  font-size: 1.2em;
  position: relative;
  overflow-wrap: break-word;
  top: 20px;
}

.note-content,
label,
input,
textarea,
p,
a {
  font-family: "Ubuntu Condensed", sans-serif;
  overflow-wrap: break-word;
}

button > i {
  pointer-events: none;
}

li {
  box-sizing: border-box;
  display: flex;
}

legend {
  float: left;
  text-align: center;
  font-size: x-large;
  margin-bottom: 1em;
}

.flexbox {
  display: flex;
}

.flex-container {
  max-width: 950px;

  flex-flow: row wrap;
  gap: 20px;
}

.input-fields {
  margin: 0.3em 0 0.7em 0;
  border: 2px solid black;
  background-color: #FFDD !important;
}
.input-fields:focus {
  outline: none;
}
/* Header ------------------------------------------------> */

/* controlpanel ------------ */
h1 {
  position: relative;
  margin-left: 10px;
  right: 10px;
  align-self: center;
}

h2{
    position: relative;
    margin: 1em;
    top: -1.5em;
    text-align:center;

}

#controlpanel #scroll-elem {
    display: none;
    flex-direction: column;
}

#controlpanel {
  z-index: 4 !important;
  top: 0;
  border: 2px solid black;
  position: fixed;
  width: 100vw;
  background-color: #5566AA;
  /* mobile specific */
  justify-content: center;
}

#controls {
  /* mobile specific */
  flex-direction: row;
  position: relative;
  right: 40px;
  width: 300px;
  justify-content: space-around;
}

#controls li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls button {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 2px solid black;
  align-self: center;
  cursor: pointer;
  box-shadow: 3px 4px 1px 0px rgb(0, 0, 0);
  transition: ease 0.1s;
}

#controls button:active {
  background-color: rgb(207, 207, 207) !important;
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
}




/* header > container --------------------------- */

#header-container {
  margin: 12vh auto;
  min-height: 480px;
  background-color: #AA7799;
  justify-content: space-around;
  max-width: 960px;
  border: 4px solid black;
}

#header-container > .imgbox {
  display: none;
}

#notes-input {
  flex-direction: column;
  align-items: center;
}

#notes-input fieldset {
  flex-direction: column;
  height: 100%;
  min-width:260px;
  margin: 10px;
  border: 3px solid black;
  background-color: #5566AA;
}

#title-input {
  font-size: 1.3em;
}

#content-input {
  height: 100px;
  font-size: 0.8em;
  resize: none;
}

#prio-box {
  position: relative;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  left: 30px;
}

#prio-box label {
  cursor: pointer;
  margin: 15px;
}

#input-checkbox {
  cursor: pointer;
  height: 25px;
  width: 25px;

  outline: none;
}

#input-checkbox:focus {
  outline: none;
}

#input-submit {
  background-color: whitesmoke;
  border: 2px solid black;
  height: 3.5em;
  align-self: center;
  cursor: pointer;
  box-shadow: 3px 4px 1px 0px rgb(0, 0, 0);
  transition: ease 0.1s;
  font-size: 1.2em;
}

#input-submit:hover {
    background-color: #FFDD99;
  }

#input-submit:active {
  background-color: rgb(207, 207, 207);
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
}

/* notes-section -------------------------------------- */

#notes-section {
  width: 100%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20vh;
}

#notes-list {
  justify-content: center;
  position: relative;
  right: 15px;
}

.note {
  width: 250px;
  min-height: 250px;
  background-color: #FFDD99;
  text-align: center;
  list-style-type: none;
  border: 2px solid black;
  flex-direction: column;
  z-index: 1;
  transition: all 0.25s;
  transition-timing-function: ease-in;
  position: relative;
}

.note:active {
  box-shadow: 4px 8px 1px 1px rgb(0, 0, 0);
}

.note h3,
p,
span {
  margin: 1em;
}

.note-id {
  color: rgba(43, 42, 42, 0.288);
  position: absolute;
  font-size: 10px;
  z-index: 2;
  left: 100px;
  text-align: center;
}

.note-btn {
  position: absolute;
  display: block;
}

.rm-btn,
.rest-btn {
  top: 5px;
  left: 5px;
}

.del-btn,
.mkn-prio,
.mk-prio {
  top: 5px;
  right: 5px;
}

.note button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-size: large;
  transition: all 0.3s;
}

.note button:active {
  background-color: hsla(0, 0%, 100%, 0.349);
  color: black;
}

.prio {
  background-color: #DD9999;
}

.removed,
.removed.prio {
  background-color: rgb(197, 197, 197);
}

.removed .imp-btn {
  display: none;
}

/* footer ----------------------------------- */

footer {
  background-color: #332244;
  position: fixed;
  height: 11vh;
  width: 100%;
  bottom: 0px;
  z-index: 3;
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#footer-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 3px solid #AA7799;
    position: relative;
    right: 10px;
    
}
footer > a {
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    bottom: 20px;
}

footer > p {
    color: #AA7799;
    position: relative;
    bottom: 30px;
}

@media only screen and (min-width: 768px) {
    body{
        margin-right: 11vW ;
    }

    footer > p, footer > a{
        margin-right: 12vW;
    }


    #header-container{
        padding-top: 4vh;
    }

    /* controlpanel ------------ */
h1 {
    margin-left: 10px;
  }

  
  
  #controlpanel {
    /* large-screen specific */
    z-index: 3;
    top: 0;
    right:0;
    border: 2px solid black;
    width: 10vw;
    height:100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  
  #controls {
    /* large screen specific */
    flex-direction: column;
    top:0;
    right:160px;
    gap: 3vh;
    justify-content: space-around;
  }
  
  #controls li {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    max-width: 100px;
    position: relative;
    left: 100px;
  }
  
  #controls button {
    height: 40px;
    width: 70px;
    background-color: whitesmoke;
    border: 2px solid black;
    align-self: center;
    cursor: pointer;
    box-shadow: 3px 4px 1px 0px rgb(0, 0, 0);
    transition: ease 0.1s;
  }

  #header-container > .imgbox {
    display: block;
    margin-bottom: 40px;
    align-self: center;
    position: relative;
    border: 3px solid black;
    box-shadow: 3px 4px 1px 0px rgb(0, 0, 0);
    top: 20px;
    background-color: #FFDD;
    text-align: center;
  }

  .note-title {
    font-family: "Permanent Marker", cursive;
    font-size: 1.2em;
    top: 5px;
    
  }
}

@media only screen and (min-width: 992px) {
  .note button {
    background-color: rgba(255, 255, 255, 0.651) !important;
    border: 2px solid black;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: large;
    transition: all 0.3s;
  }

  .note:hover {
    box-shadow: 4px 8px 1px 1px rgb(0, 0, 0);
  }

  .note button:hover {
    background-color: black !important;
    color: #bdbdbd;
  }
  .note-btn {
    display: none;
  }

  .note:hover .note-title {
    visibility: hidden;
  }
  .note:hover .note-content {
    visibility: hidden;

  }

  .note:hover .note-btn {
    display: block;
  }

  .rm-btn,
  .rest-btn {
    top: 40%;
    left: 60px;
  }
  .del-btn,
  .mkn-prio,
  .mk-prio {
    left: 150px;
    top: 40%;
  }
}
