@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Madurai:wght@300;400&family=Permanent+Marker&family=Ubuntu+Condensed&display=swap');

h1, h2, h3, legend {
    font-family: 'Bebas Neue', cursive;
}

.note-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em;
}

.note-content, label, input, textarea {
    font-family: 'Ubuntu Condensed', sans-serif;
}

button > i {
    pointer-events: none;
} 

* {
    margin: 0;
}

li {
    box-sizing: border-box;
    display: flex;
}

legend {
    float: left;
    text-align: center;
    font-size: x-large;
    margin-bottom: 1em;
}

.flexbox {
    display: flex;
}

.flex-container{
    max-width: 950px;
    min-height: 600px;
    flex-flow: row wrap;
    gap: 20px;
}

.input-fields {
    margin: 0.3em 0 1em 0;
    border: 2px solid black;
}
.input-fields:focus {
    outline: none;

}
/* Header ------------------------------------------------> */
#controlpanel {
    top: 0;
    border:2px solid black;
    position: fixed;
    width: 100vw;
    background-color: rgb(111, 245, 205);;
    /* mobile specific */
    justify-content: center;
}

#controls {
    /* mobile specific */
    flex-direction: row;
    background: blue;
    flex-wrap: ;
}

#controls button {
    height:40px;
    width:40px;
    background-color: white;
    border: 2px solid black;
    align-self: center;
    cursor: pointer;
    box-shadow: 3px 4px 1px 0px rgb(0, 0, 0);
}



#notes-input {
    max-width: 950px;
    margin:auto;
    flex-direction: column;
    align-items: center;;
    background-color: red;

    /* mobile specific */
    margin-top:50px;
}

#notes-input fieldset{
    background-color: rgb(111, 245, 205);
    flex-direction: column;
    height:100%;
    margin: 10px;
    border: 3px solid black;
}

#content-input {
    height: 100px;
    resize: none;

}

#prio-box {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

#prio-box label {
    cursor: pointer;
    margin: 15px;
}

#input-checkbox{
    cursor: pointer;
    height: 25px;
    width: 25px;

    outline: none;
}

#input-checkbox:focus{
    outline: none;
}

#input-submit {
    background-color: white;
    border: 2px solid black;
    height: 2.5em;
    width: 120px;
    align-self: center;
    cursor: pointer;
    box-shadow: 3px 4px 1px 0px rgb(0, 0, 0);
}

#input-submit:active {
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
}


/* notes-section -------------------------------------- */

#notes-section {
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#notes-list {
    justify-content: center;
    position: relative;
    right:15px;
}

.note {
    width: 250px;
    height: 250px;
    background-color: #f3f34f;
    text-align: center;
    list-style-type: none;
    border: 2px solid black;
    flex-direction: column;
    z-index: 1;
    transition: all 0.6s;
    transition-timing-function: ease-in;
}


.note:hover {
    box-shadow: 4px 8px 1px 1px rgb(0, 0, 0);
}


.note h3, p ,span {
    margin: 1em;
}

.note-id {
    color: rgba(43, 42, 42, 0.288);
    position: absolute;
    font-size: 10px;
    z-index: 2;
}

.note-btn-list {
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    gap: 30px;
    display: none;
    z-index: 2;
    justify-content: center;
}
.note:hover .note-content {
    display: none;
}

.note:hover .note-btn {
    display: block;

}

.note-btn{
    position: relative;
    display: none;  
}

 .rm-btn{
    top:44px;
    left: 60px;    
}

.rest-btn{
    top:44px;
    left: 60px;
}
.del-btn, .mkn-prio, .mk-prio {
 left: 150px;
}



 
.note button {
    background-color: rgba(255, 255, 255, 0.651) !important;
    border:2px solid black;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: large;
    transition: all 0.3s;
}

.note button:hover {
    background-color: black !important;
    color: #bdbdbd;
    
}

.prio {
    background-color: orange;
}

.removed, .removed.prio {
    background-color: grey;
}

.removed .imp-btn{
    display: none;
}
